.headr_wrapper {
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: rgb(20, 20, 20);
    background-color: transparent;
    background-color: black;
}
.header_holder {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    list-style: none;
    display: flex;
    padding: 0;


}
/* .header_leftSide {
    width: 140%;
    display: flex; 
    justify-content: center;
    align-items: center; 
}  */
.nav li {
    margin-right: 20px;
    /* padding-top: 10px; */
}